body  {
    font-family: "Times New Roman";

}

h1 {
    font-size: 32px;
    text-align: center;
    font-weight: bold;

}

body {
    font-size: 20px;
}

img {
    display: block;
    margin: 0 auto;
}



.oyakodon-title{
    color: white;
    background-color: rgb(233, 208, 26);
    padding: 10px;
    margin: 20px 600px;
}

.onigiri-title{
    color: white;
    background-color: rgb(110, 110, 235);
    padding: 10px;
    margin: 20px 600px;

}

.brownie-title{

    color: white;
    background-color: rgb(93, 38, 21);
    padding: 10px;
    margin: 20px 500px;
}

.description{
    text-align: center;
}

.ingredients-brownie, .instr-brownie {
    background-color: rgb(93, 38, 21);
    color: white;
    display: inline;
    padding: 10px;
    font-size: 24px;
}

.ingredients-oyakodon, .instr-oyakodon {
    background-color: rgb(233,208,26);
    color: white;
    display: inline;
    padding: 10px;
    font-size: 24px;

}

.ingredients-onigiri, .instr-onigiri {
    background-color: rgb(110, 110 , 235);
    color: white;
    display: inline;
    padding: 10px;
    font-size: 24px;

}

li.index {
    display: inline;
    margin: 0 10px;
    padding: 10px;
    border: 2px solid black;
}

div.index{
    text-align: center;
    margin: auto;
}

.oya-all {
    

}




